.sp-account .sidebar-block{
  display: block;
  width: 100%;
  padding: 0 10px 0 10px
}
.sp-account .sidebar-head{
  font-size: 12px;
  color: #9898a2;
  font-weight: 600;
  display: block;
  padding-left: 10px;
  padding-bottom: 10px;
}
.sp-account .sidebar-elem{
  font-size: 14px;
  color: #333;
  padding:6px 10px 6px 10px;
  border-radius: 5px;
  display: block;
}
.sp-account .sidebar-elem:hover{
  background-color: #EAECEF !important;
}
.sp-account .sidebar-elem.active{
  color: #505dff;
}
