.absolute-card{
  position: absolute;
  right: 0;
  top: 0;
}
.absolute-card ul{
  margin: 0;
}
.absolute-card li{
  list-style: none;
}
.character-image{
  position: relative;
  width:100%;
  text-align: center;
}
.character-holder {
  display: flex;
  flex-flow: column wrap;
  margin-left: -8px;
  width: 100%;
  column-width: 33%;
}
.character-card .card-header {
  padding: 10px;
  padding-bottom: 0;
  min-height: 32px;
}
.character-card .card-body {
  padding: 10px;
  padding-bottom: 0;
  min-height: 32px;
}
.character-card .card-header a{
  padding: 0;
}
.character-card .card-header .card-title{
  font-size: 13px;
  font-weight: 600;
}
.character-card .card-header .title-sm{
  display: block;
  color: #627182;
  font-size: 9px;
  font-weight: 400;
}
.character-card .character-desc {
  margin: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-height: 20px;
	height: 60px;
}
.ch-new-group-wrapper{
  display: block;
	line-height: 14px;
	position:relative;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.ch-new-group>hr {
  cursor: auto;
	margin: 0;
	margin-left:5px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  border-color: #eaeaed;
}
.ch-new-group>span{
  font-size: 12px;
  position: relative;
	display: inline-block;
  cursor: pointer;
}
/* category act */
.character-group{
	background-color: #fff;
	padding: 0;
	margin-bottom: 30px;
}
.character-group>.divider{
	display: block;
	position: relative;
	border-bottom: 1px solid #eaeaed;
  height: 1px;
  margin-bottom: 28px;
}
.character-group>.divider>span{
	text-align: left;
  background: #ffffff;
  display: table;
  padding: 0px 10px 0 0;
  position: relative;
  top: -13px;
  border-radius: 4px;
  font-size: 16px;
  color: #2f2f2f;
  font-family: 'Open Sans', sans-serif;
}
.avatar-md{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  background-color: #f0f2f4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  width: 28px;
}
