@media (min-width: 992px) {

  .modal-right .modal-dialog {
    width: 28%;
  }

  .page-container.sp-home .page-content-wrapper .content {
  	padding-left: 0;
  	padding-right: 24%;
  }
  .page-container.sp-story .page-content-wrapper .content,
  .page-container.sp-account .page-content-wrapper .content {
  	padding-left: 250px;
  	padding-right: 24%;
  }
  .page-container.sp-story.no-sidebar .page-content-wrapper .content,
  .page-container.sp-account.no-sidebar .page-content-wrapper .content{
    padding-left: 0;
  	padding-right: 24%;
  }

  .right-panel {
    width: 28%;
  }

}
