@media (max-width:768px) {

  .modal-right .modal-dialog {
    width: 80%;
  }

  .page-container.sp-story .page-content-wrapper .content,
  .page-container.sp-account .page-content-wrapper .content {
    padding-top: 100px;
  	padding-left: 0;
  	padding-right: 0;
  }
  .page-container.sp-story.no-sidebar .page-content-wrapper .content,
  .page-container.sp-account.no-sidebar .page-content-wrapper .content{
    padding-top: 100px;
    padding-left: 0;
  	padding-right: 0;
  }

  .login-container {
      width: 100%;
      padding: 15px;
  }

  .swift-sticky{
    display: block;
  	position: fixed;
  	top: 47px;
    width: 100%;
    padding-top: 10px;
    margin: 0;
  	z-index:99;
    background-color: #fff;
  }

  .header{
  	border: 0px;
  	padding: 0 10px 0 10px;
  	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .right-panel {
    width: 80%;
  }

}
