@media (min-width: 768px) {

  .modal-right .modal-dialog {
    width: 80%;
  }

  .page-container.sp-story .page-content-wrapper .content,
  .page-container.sp-account .page-content-wrapper .content {
  	padding-left: 0;
  	padding-right: 0;
  }
  .page-container.sp-story.no-sidebar .page-content-wrapper .content,
  .page-container.sp-account.no-sidebar .page-content-wrapper .content{
    padding-left: 0;
  	padding-right: 0;
  }

  .right-panel {
    width: 60%;
  }

}
