body{
	background-color: #fff;
	position: relative;
	overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
:focus {
  outline: none;
}
.w-100 {
	width: 100%;
}
.w-50 {
	width: 50%;
}
.p-10{
	padding: 10px;
}
.overflow-visible{
	overflow: visible !important;
}
.react-datepicker-wrapper input{
	border: 0;
}
@media (min-width: 1450px){
	.col-xxl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
	}
}
.modal.fill-in{
	z-index: 9999;
}
.modal.xl .modal-dialog{
	width: 800px;
	max-width: none;
}
.center-placeholder[placeholder] {
   text-align: center;
}
/* max lines css */

.swift-sticky{
	display: block;
	position: -webkit-sticky;
	position: sticky;
	top: 15px;
	margin-bottom: 30px;
	z-index:199;
	margin-left: 20%;
}
/* Common */
.page-container{
	padding:0;
}
.page-sidebar{
	z-index: 801 !important;
	display: block;
}
.page-container.sp-story .page-sidebar,
.page-container.sp-account .page-sidebar {
	width: 250px;
	transform: translate(210px, 0) !important;
  -webkit-transform: translate(210px, 0) !important;
}
.page-container.sp-story.no-sidebar .page-content-wrapper .content,
.page-container.sp-account.no-sidebar .page-content-wrapper .content {
	padding-left: 0;
	padding-right: 28%;
}
.page-container.sp-story.no-sidebar .page-sidebar,
.page-container.sp-account.no-sidebar .page-sidebar {
	width: 250px;
	transform: translate(-210px, 0) !important;
  -webkit-transform: translate(-210px, 0) !important;
}
@media (max-width: 991px){
	.page-sidebar {
    width: 250px;
    z-index: 22;
    left: -210px !important;
    -webkit-transform: translate3d(0, 0px, 0px) !important;
    transform: translate3d(0, 0px, 0px) !important;
	}
}

.main-heading{
	font-family: 'Open Sans', sans-serif !important;
	font-size: 33px;
  line-height: 44px;
  letter-spacing: -0.08px;
}
.page-container .page-content-wrapper .content {
	padding-top: 60px;
}
/* font & design */
.f-ops{
	font-family: 'Open Sans', sans-serif !important;
}
.f-lora{
	font-family: 'Lora', serif !important;
}
/* end font & design */
.cp{
	cursor: pointer !important;
}
.ct{
	cursor: text !important;
}
.ca{
	cursor: auto !important;
}
.outline-none{
	outline: none !important;
}
.custom-dropdown-menu{
	background: #fff;
}
.custom-dropdown-menu span{
	min-width: 118px;
}
.divider{
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin:5px 0 5px 0;
}
a{
	cursor: pointer;
	outline: none !important;
	border:0 !important;
	text-decoration: none !important;
	box-shadow:none;
}
span:focus{
	outline: none !important;
}
a:focus{
	outline: none !important;
}
/* dropdowns */
.dropdown {
	position: relative;
}
.dropdown>span{
	cursor: pointer;
}
.dropdown-menu > li:first-child, .dropdown-menu > .dropdown-item:first-child {
	padding-top: 0;
}
.dropdown-menu > li:last-child, .dropdown-menu > .dropdown-item:last-child {
	padding-bottom: 0;
}
.dropdown-menu {
	padding: .5em;
	border: 1px solid rgba(0, 0, 0, 0.07);
}
.dropdown-menu > .dropdown-item {
	padding: 0 20px;
}
.dropdown-menu > li:hover,
.dropdown-menu > .dropdown-item:hover,
.dropdown-menu > li:focus,
.dropdown-menu > .dropdown-item:focus,
.dropdown-menu > li:active,
.dropdown-menu > .dropdown-item:active {
	color: #505dff;
	background-color: #f0f2f4 !important;
}
.clear-backdrop{
	opacity: 0 !important;
}
.modal{
	z-index: 998;
}
.modal-backdrop{
	z-index: 995;
}
.modal-right .modal-dialog {
  width: 28%;
	top:80px;
	height: calc(100% - 80px) !important;
	border-top: 2px solid #505dff;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4) !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.4) !important;
	overflow-y:hidden;
}
.modal-right .modal-content {
	padding-left: 40px;
}
.modal-right .modal-tabs {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: calc(100% - 50px);
	border-right: 1px solid #eee;
}
.modal-tabs li{
	display: inline-block;
	list-style: none;
	overflow: visible;
	line-height: 0;
}
.modal-right .modal-header{
	padding:5px 25px;
	margin: 0;
	min-height: 40px;
	border-bottom: 1px solid #eee;
}
.modal-right .modal-title{
	margin: 0;
}
.modal-right .modal-body{
	overflow-y:auto;
	margin-top:10px;
	height:calc(100% - 50px);
	padding: 5px 0 5px 25px;
}
.modal-right .modal-footer{
	height:50px;
	border-top: 1px solid #eee;
	padding: 10px 25px;
}
.modal-right .modal-header .close {
	padding:0;
	margin: 0 18px 0 0 !important;
}
.no-box .form-control {
    font-size: 22px;
    margin: 0;
    border: none;
    border-radius: 0px;
    padding: 0px !important;
    box-shadow: none !important;
}
/* CArd header overlaps the neightbour's dropdown */
.card .card-header {
	z-index: inherit;
}

.text-theme-blue{
	color: #505dff !important;
}
.border-theme-blue{
	border-color: #505dff !important;
}
.custom-has-error input{
	background-color: rgba(234, 44, 84, 0.1);
}

/* Sidebar */
.page-sidebar, .page-sidebar .sidebar-header {
  background-color: #f0f2f4;
}
.page-sidebar .sidebar-header {
  border-bottom: transparent;
}
.page-sidebar .sidebar-menu .menu-items{
	padding-right: 5px;
	overflow: unset;
}
.sidebar-menu .menu-items>li{
	margin: 20px 0 20px 0;
}
.sidebar-menu .menu-items a .atitle{
	color: #9898a2;
	font-size: 18px;
	word-wrap:break-word;
	text-transform: uppercase;
}
.sidebar-menu .menu-items a .main-title{
	color: rgb(106, 106, 106);
}
.sidebar-menu .menu-items a .ctitle{
	word-wrap:break-word;
	color: #2f2f2f;
	font-size: 16px;
}
.sidebar-menu .menu-items a .stitle{
	color: #2f2f2f;
	word-wrap:break-word;
}
.sidebar-menu .menu-items a.active .title{
	color: #505dff;
}
.sidebar-menu .menu-items li .v1-accordion-item a:hover .title{
  color: #505dff;
}
.sidebar-menu .menu-items .v1-accordion-item.active>.v1-accordion-item-title a .stitle {
	color: #505dff;
}
.sidebar-menu .menu-items .v1-accordion-item-title a {
	position: relative;
  display: block;
  padding-left: 20px;
	padding-right: 50px;
  min-height: 16px;
  line-height: 18px;
  font-size: 14px;
}
/* .sidebar-menu .menu-items .v1-accordion-item-title a .title {
	display: block;
	clear: both;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
} */
.sidebar-menu .menu-items .accordion-level1 .v1-accordion-item-title a{
	margin-left: 10px;
	margin-bottom: 2px;
}
.sidebar-sublevel {
	position: relative;
  display: block;
  padding-left: 20px;
	margin: 15px 0 15px 0;
  min-height: 16px;
  line-height: 16px;
  font-size: 14px;
  clear: both;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 65%;
}
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu{
	background-color: #f0f2f4;
}

.add-structure-wrapper-hover{
	display: block;
	margin-right: 30px;
	margin-left: 15px;
	line-height: 10px;
	/* padding: 2px 0 2px 0; */
	position:relative;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.add-structure-wrapper-hover .add-structure{
	opacity: 0;
}
.add-structure-wrapper-hover:hover .add-structure{
	opacity: 1;
}
.add-structure-wrapper-aria{
	display: block;
	margin-right: 30px;
	margin-left: 15px;
	line-height: 10px;
	/* padding: 2px 0 2px 0; */
	position:relative;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
[aria-expanded='true']>.add-structure-wrapper-aria{
	display: none;
}
[aria-expanded='false']>.add-structure-wrapper-aria{
	display: block;
	opacity: 0;
}
[aria-expanded='false']>.add-structure-wrapper-aria:hover{
	opacity: 1;
}

.add-structure:after {
	display: inline-block;
	cursor: auto;
	font-size: 8px;
	vertical-align: middle;
	padding-left:5px;
	content: '------------------------------------------------';
}
.add-structure{
	display: inline-block;
}
.add-structure>span{
	cursor: pointer;
	margin-right: 10px;
	font-size: 8px;
}
.lp-controls{
	display: none;
	position: absolute;
	right: 10px;
	top:0;
  margin-top: 0;
}
.lp-controls ul li {
    display: inline-block;
    list-style: none;
		overflow: visible;
    line-height: 0;
}
.lp-controls .dropdown {
	top: -1px;
}
.sidebar-menu .menu-items li a:hover .lp-controls{
  display: inline-block;
}
.lp-controls .material-icons{

}
/* group actions */
.group-actions{
	display: inline-block;
	position: absolute;
	background-color: #fff;
	right: 0;
	top: -12px;
  margin-top: 0;
}
.group-actions ul li {
	color: #373e43;
  display: inline-block;
  list-style: none;
	overflow: visible;
  line-height: 0;
}
.group-actions .dropdown {
	top: -1px;
}

.left-divider{
	display: block;
	position: relative;
}
.left-divider>hr{
	position: relative;
	height: 1px;
	top: 8px;
	margin: 0;
	border-bottom: 1px solid #dbdbe0;
}
.left-divider>span{
	text-align: center;
  background: #f0f2f4;
  display: table;
  margin: 0 auto;
  padding: 0px 10px;
  position: relative;
  border-radius: 4px;
  font-size: 9px;
  color: #627182;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.count-holder{
	position: relative;
	top: -1px;
	vertical-align: middle;
	font-size: 9px;
	border: 1px solid #dbdbe0;
	border-radius: 20px;
	color: #627182;
	padding: 1px 5px;
	margin: 0 5px;
}
.sp-onhover > span{
	display:none;
}
.sp-onhover:hover > span{
	display:inline-block;
}
/* Accordion */
.v1-accordion {
	outline:none;
}
.v1-accordion-item {
	outline:none;
}
.v1-accordion-item-title {
	outline: none;
	position: relative;
}
.v1-accordion-item-body {
	outline:none;
	padding-left: 10px;
	display: block;
	/* border-left: 1px solid #0c18ca; */
}
.v1-accordion-item-body-hidden {
	display: none;
}
.accordion__arrow::after{
  display: block;
  position: absolute;
	top: -2px;
	left:5px;
	font-size: 20px;
  content: '\203A';
}

[aria-expanded='true'] .accordion__arrow::after, [aria-selected='true'] .accordion__arrow::after {
  transform: rotate(90deg);
	top: 0;
	left:7px;
}

.accordion__dot::after{
  display: block;
  position: absolute;
	top:1px;
	left:3px;
	font-size: 20px;
  content: '\2022';
}

.accordion__square::after{
  display: block;
  position: absolute;
	top:1px;
	left:3px;
	font-size: 20px;
  content: '\25AB';
}

.accordion__circle::after{
  display: block;
  position: absolute;
	top:1px;
	left:3px;
	font-size: 20px;
  content: '\25E6';
}
/* Navbar */
.text-theme-green, .text-theme-green:hover, .text-theme-green:visited, .text-theme-green:focus{
	color: #28a745 !important;
}
.text-theme-grey, .text-theme-grey:hover, .text-theme-grey:visited, .text-theme-grey:focus{
	color: #7a8994  !important;
}
/* story */
.story-view-controls ul li{
	color: #373e43;
	font-size: 12px;
  display: inline-block;
  list-style: none;
	overflow: visible;
  line-height: 0;
}
.active>.material-icons{
	color: #505dff !important;
}

/* placeholder custom loading */
.ph-c-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #fff;
}
.sp-ellipses{
  clear: both;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* pages based changes */
.m-t-60{
	margin-top: 60px;
}
.modal.fade.modal-right{
	/* opacity: 0 !important; */
}
.modal.fade.modal-right .modal-dialog{
	/* opacity: 1 !important; */
}
.form-group-default{
	width: calc(100% - 2px);
}
.badge{
	position: relative;
	font-weight: 400;
	font-size: 12px;
	padding: 5px 8px;
	color: #ffffff;
}
.badge-sm{
	font-size: 10px;
	border-radius: 4px;
	margin-bottom: 5px;
}
.badge-xs{
	font-size: 10px;
	padding: 3px 5px;
	border-radius: 3px;
}
.btn-theme-blue, .btn-theme-blue:focus {
  background-color: #505dff;
  border-color: #505dff;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-theme-blue.hover,
.btn-theme-blue:hover,
.show .dropdown-toggle.btn-theme-blue,
.btn-theme-blue:active,
.btn-theme-blue:visited,
.btn-theme-blue:focus {
  background-color: #6074f7;
  border-color: #6074f7;
  color: #fff;
}
/* outline */
.right-panel {
	position: fixed;
  right: 0;
  margin: 0;
	width: 28%;
  top: 80px;
  height: calc(100% - 80px);
  border-top: 2px solid #505dff;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  overflow-y: hidden;
	background-color: #fff;
	z-index: 200;
	transition: -webkit-transform .3s ease-out;
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
}
.right-panel .close{
	position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  z-index: 10;
}
.right-panel-content {
	position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
	height: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0;
  outline: 0;
}
.right-panel-header {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
  align-items: flex-start;
	padding: 5px 25px;
  margin: 0;
  min-height: 40px;
  border-bottom: 1px solid #eee;
}
.right-panel-body {
	position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
	white-space: normal;
	overflow-y: auto;
	margin-top: 10px;
	height: calc(100% - 50px);
	padding: 5px 0 5px 25px;
}
.right-panel-footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	justify-content: flex-end;
	box-shadow: none;
  margin-top: 0;
	height: 50px;
	border-top: 1px solid #eee;
	padding: 10px 25px;
}
.editable-field{
	font-size: 18px;
	position: relative;
	display: block;
	line-height: 28px;
	text-align: left;
}
.editable-field[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555;
}
/* dropzone */
.img-dropzone {
	width: 100%;
	border: 1px dotted #505dff;
	height: 60px;
}
.img-up-preview{
	display: block;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}


/* category act */
.cate-group{
	background-color: #fff;
	padding: 0;
	margin-bottom: 30px;
}
.cate-group>.divider{
	display: block;
	position: relative;
	border-bottom: 1px solid #eaeaed;
  height: 1px;
  margin-bottom: 28px;
}
.cate-group>.divider>span{
	text-align: center;
  background: #eaeaed;
  display: table;
  margin: 0 auto;
  padding: 0px 40px;
  position: relative;
  top: -6px;
  border-radius: 4px;
  font-size: 9px;
  color: #2f2f2f;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
/* CSS by Ankit */

/* Custom card */
