.scene-ch{

}
.scene-ch .holder{
  padding: 5px 0;
}
.scene-ch>label {
  font-size: 11px;
}
.scene-ch-image{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  background-color: #505dff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  width: 32px;
}
.scene-ch-image .material-icons{
  margin: auto;
}

.avatar-2{
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 28px;
  width: 28px;
}
/* Outlines */
.outline-add{
	cursor: pointer;
	text-align: center;
	font-size: 12px;
}
.outline-add>i{
	vertical-align: -3px;
}
.outline-divider{
	display: block;
	border-bottom: 1px solid #eaeaed;
  height: 1px;
  margin-bottom: 28px;
}
.outline-divider>span{
	text-align: center;
  background: #eaeaed;
  display: table;
  margin: 0 auto;
  padding: 0px 40px;
  position: relative;
  top: -6px;
  border-radius: 4px;
  font-size: 9px;
  color: #2f2f2f;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.field-rm{
	position: absolute;
	top: 0;
	right: 4px;
}

.setting-color {
  padding: 0 5px;
  margin-bottom: 10px;
}
.setting-color>label:first-child {
  margin-left: 0;
}
.setting-color>label:last-child {
  margin-right: 0;
}
.setting-color>label {
  display: block;
  position: relative;
  margin: 0 10px;
  border-radius: 1px;
  cursor: pointer;
}
.setting-color>label, .setting-color>label>.ion-checkmark-round {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.014);
}
.setting-color>label>input[type=radio] {
  position: absolute;
  visibility: hidden;
}
.setting-color>label>input[type=radio]:checked+.ion-checkmark-round {
  opacity: 1!important;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.setting-color>label, .setting-color>label>.ion-checkmark-round {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.014);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.014);
}
.setting-color>label>.ion-checkmark-round {
  position: absolute;
  display: block;
  right: -5px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  color: #4caf50;
  background-color: #fff;
  transition: transform .2s ease;
  transform: scale(0);
}
.ion-checkmark-round:before {
  content: "\2714";
}
.setting-color>label, .setting-color>label>.ion-checkmark-round {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.014);
}
.setting-color .square {
  display: block;
  width: 42px!important;
  height: 32px!important;
}
