/* Converting  scene-ch-popover to popover fixed length */
.popover-v2{
  z-index: 9901;
  -webkit-box-shadow: 0px 0px 5px rgba(122, 137, 148, 0.3);
  box-shadow: 0px 0px 5px rgba(122, 137, 148, 0.3);
  border: none;
  font-family: 'Open Sans', sans-serif;
}
.popover-v2 .popover-body{
  padding: 0.5rem 0;
  overflow-y: auto;
}

/* popover items whose background change on hover */
.popover-item-bg{
  display: block;
  font-size: 12px;
  border-radius: 3px;
  color: #7a8994;
  margin: 0 0.75rem 0 0.5rem;
  padding: 5px 10px 5px 10px;
  line-height: 16px;
  cursor: pointer;
  clear: both;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.popover-item-bg:hover{
  color: #505dff;
  background-color: #f0f2f4;
}
/* end popover items whose background change on hover */
/* popover items whose text change on hover */
.popover-item-text{
  display: block;
  font-size: 12px;
  border-radius: 3px;
  color: #7a8994;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0 10px 0 10px;
  line-height: 35px;
  cursor: pointer;
  clear: both;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.popover-item-text:hover{
  color: #505dff;
}
/* end popover items whose text change on hover */
.popover-item-head{
  position: -webkit-sticky;
	position: sticky;
  display: block;
  margin: 0 0.5rem 0.5rem 0.5rem;
  padding: 0 10px 5px 10px;
	top: 0px;
  background-color: #fff;
  color: #627182;
	font-size: 13px;
  border-bottom: 1px solid #eaeaed;
}
/* Converting  scene-ch-popover.ch-list to popover-fixed-length */
/* .scene-ch-popover .chimage{
  cursor: pointer;
  font-size: 13px;
  border-radius: 3px;
  color: #7a8994;
  padding: 0 20px;
  line-height: 35px;
} */
.ch-list .popover-body{
  height: 150px;
  min-width: 150px;
  max-width: 180px;
  overflow-y: hidden;
}
.rel-popup .popover-inner{
  padding: 10px 0;
  padding-left: 10px;
}
.rel-popup .popover-body{
  position: relative;
  height: 220px;
  width: 240px;
  overflow-y: hidden;
  padding-bottom: 50px;
}
.label-list .popover-body{
  height: 150px;
  min-width: 100px;
  max-width: 180px;
  overflow-y: hidden;
}
.label-list .popover-item-bg{
  text-align: center;
  border-radius: 5px;
  cursor: auto;
}
.scene-label-popover{
  z-index: 9901;
  -webkit-box-shadow: 0px 0px 5px rgba(122, 137, 148, 0.3);
  box-shadow: 0px 0px 5px rgba(122, 137, 148, 0.3);
  border: none;
}
.scene-label-popover-in .popover-body{
  padding: 0.5rem;
  padding-right: 0;
  width: 250px;
  height: 250px;
  overflow-y: hidden;
}

/* popover descent */
.default-popover{
  z-index: 9901;
  -webkit-box-shadow: 0px 0px 5px rgba(122, 137, 148, 0.3);
  box-shadow: 0px 0px 5px rgba(122, 137, 148, 0.3);
  border: none;
	border-radius: 0;
}
.default-popover-in .popover-body{
  padding: 0.2em 0;
	min-width: 120px;
  max-width: 150px;
  max-height: 150px;
  overflow-y: auto;
}
.default-popover-in span{
  font-size: 11px;
  color: #2f2f2f;
  margin: 0 0.5rem 0 0.5rem;
  line-height: 20px;
  clear: both;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.default-popover span:hover{
  color: #505dff;
}
.default-popover-in span.pop-head{
  color: #627182;
	font-size: 13px;
	line-height: 28px;
}
.default-popover span.pop-head:hover{
  color: #627182;
}
.popover-v1 span {
	display: block;
	font-size: 13px;
	color: #9898a2;
	margin: 4px 0;
	cursor: pointer;
}
.popover-v1 span:hover {
	color: #505dff;
}
