/* storymap scene */
.smap-s{
  padding-left: 20px !important;
  padding-right: 20px !important;
}
/* storymap chapter */
.smap-c{
	background-color: #fff;
  position: relative;
  padding-top: 30px;
  padding-bottom: 1px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.mdivider{
  position: absolute;
  top: 0;
  left: 5px;
  bottom: 0;
  width: 4px;
}
.mdivider:after{
  /* display: none; */
  position: relative;
  display: block;
  width: 1px;
  background-color: #eaeaed;
  height: 100%;
  z-index: 1;
  content: '';
}
.mfdivider{
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  width: 4px;
}
.mfdivider:after{
  /* display: none; */
  position: relative;
  display: block;
  width: 1px;
  background-color: #eaeaed;
  height: 100%;
  z-index: 1;
  content: '';
}
.smap-new{
  /* display: none; */
  position: absolute;
  font-size: 9px;
  bottom: -5px;
  left: 2px;
  z-index: 1;
}
.mdivider:hover:after{
  display: block;
}
.smap-c-title{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 15px;
  padding-right: 40px;
}
.smap-c-title>span{
  font-size: 16px;
  color: #2f2f2f;
  display: block;
  clear: both;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.smap-controls{
	position: absolute;
	right: 15px;
	top:0;
  margin-top: 0;
}
.smap-controls ul li {
	color: #373e43;
	font-size: 12px;
  display: inline-block;
  list-style: none;
	overflow: visible;
  line-height: 0;
}
.smap-controls .dropdown {
	top: -1px;
}
.sm-ch-image{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  background-color: #505dff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  width: 24px;
}
.sm-ch-image .material-icons{
  margin: auto;
}
.sm-ch-place:hover{
	text-decoration: underline;
}
