.wp-controls{
	position: absolute;
	right: 0;
	top:0;
  margin-top: 0;
}
.wp-controls ul li {
	color: #373e43;
  display: inline-block;
  list-style: none;
	overflow: visible;
  line-height: 0;
}
.wp-controls .dropdown {
	top: -1px;
}
.wp-scene-header{
  position: relative;
	padding: 5px 0px;
	margin-left: 15px;
  width:calc(100% - 15px);
  border-bottom: 1px solid #ddd;
}
.wp-scene-header .wp-controls{
  top: 5px;
}
.wp-scene-label{
	padding:0px 8px 3px 8px;
	text-align: justify;
	margin-left: 10px;
	font-size: 11px;
	border-radius: 5px;
	color: #fff;
	background-color: rgb(180, 184, 191);
}
.v2-accordion-item:hover>.v2-accordion-item-title .wp-controls{
  display: inline-block;
}
.v2-accordion-item.active>.v2-accordion-item-title .wp-controls{
  display: inline-block;
}
.ws-add-structure-wrapper-hover{
	display: block;
	line-height: 14px;
	position:relative;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.ws-add-structure-wrapper-hover .ws-add-structure{
	opacity: 0;
}
.ws-add-structure-wrapper-hover:hover .ws-add-structure{
	opacity: 1;
}
.ws-add-structure-wrapper-aria{
	display: block;
	line-height: 20px;
	position:relative;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
[aria-expanded='true']>.ws-add-structure-wrapper-aria{
	display: none;
}
[aria-expanded='false']>.ws-add-structure-wrapper-aria{
	display: block;
	opacity: 0;
}
[aria-expanded='false']>.ws-add-structure-wrapper-aria:hover{
	opacity: 1;
}

.ws-add-structure>hr {
  cursor: auto;
	margin: 0;
	margin-left:5px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  border-color: #505dff;
}
.ws-add-structure>span{
  font-size: 9px;
  position: relative;
	display: inline-block;
  cursor: pointer;
}

/* Accordion */
.v2-accordion {
	outline:none;
}
.v2-accordion-item{
	outline:none;
}
.v2-accordion-item.active>.v2-accordion-item-title, .v2-accordion-item.active>.v2-accordion-item-body{
	border-left: 1px solid #505dff;
}

/* accordion item title */
.v2-accordion-item-title {
	outline: none;
	position: relative;
	border-left: 1px solid #ddd;
}
.v2-accordion-item-title a {
	position: relative;
  display: block;
	padding-left: 20px;
	padding-right: 150px;
  min-height: 16px;
  line-height: 16px;
  font-size: 14px;
	width: 100%;
}
.v2-accordion-item-title a:hover {
	color: #505dff;
}
.v2-accordion-item-title .title {
	color: #373e43;
	clear: both;
}
.v2-accordion-item:hover>.v2-accordion-item-title{
  border-color: #505dff;
}

/* accordion item body */
.v2-accordion-item-body {
	outline:none;
  padding-bottom: 0;
	padding-left: 20px;
	display: block;
	border-left: 1px solid #ddd;
}
.v2-accordion-item:hover>.v2-accordion-item-body{
  border-color: #505dff;
}
.v2-accordion-item-body-hidden {
	display: none;
}
.v2-accordion__arrow::after{
  display: block;
  position: absolute;
	top: 2px;
	left:7px;
	font-size: 24px;
  content: '\203A';
}

[aria-expanded='true'] .v2-accordion__arrow::after, [aria-selected='true'] .accordion__arrow::after {
  transform: rotate(90deg);
	top: 4px;
	left:7px;
}
/* Scene head + body */
.wp-scene-head {
	outline: none;
	position: relative;
	border-left: 1px solid #ddd;
}
.wp-scene-head a {
	cursor: auto;
	position: relative;
  display: block;
	padding-left: 15px;
	padding-right: 150px;
  min-height: 16px;
  line-height: 16px;
  font-size: 14px;
	width: 100%;
}
.wp-chapter a .title {
	color: #2f2f2f;
	font-size: 18px;
	line-height: 24px;
}
.wp-scene-head a .title {
	color: #2f2f2f;
	font-size: 16px;
	line-height: 24px;
}
.wp-scene.active .wp-scene-head a .title {
	color: #505dff;
}
.wp-scene-body {
	outline:none;
	padding-top: 10px;
  padding-bottom: 0;
	display: block;
	border-left: 1px solid #ddd;
}
.wp-scene.active>.wp-scene-head, .wp-scene.active>.wp-scene-body{
	border-left: 1px solid #505dff;
}
/* Quill Editor */
.wp-scene.active .ql-editor{
	color: #2f2f2f;
}
.wp-scene .ql-editor{
	color: #747272;
}
.ql-editor{
	padding-top: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important;
  padding-left: 15px;
	min-height: 30px;
}
.ql-tooltip{
  z-index: 9990;
}
.wp-ch-image{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  background-color: #505dff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  width: 16px;
}
.wp-ch-image .material-icons{
  margin: auto;
}
.wp-ch-place:hover{
	text-decoration: underline;
}
