/* CSS for home layout */

.story-card{
	display: inline-flex;
	width: 240px;
	height: 170px;
	margin-right: 10px;
}
.story-card.active{
	/* border: 1px solid #505dff; */
}
@media (max-width: 991px){
	.story-card{
		height: 170px !important;
	}
}
.story-card .card-header a:not(.btn) {
	padding: 0;
}
.story-card .card-header{
	padding: 5px 10px;
	min-height: 16px;
}
.story-card .card-header .card-title{
	font-size: 13px;
	width: 80%;
	vertical-align: -2px;
	text-transform: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.story-card .card-body{
	position: relative;
	padding: 0;
	height: 140px;
	overflow: hidden;
}
.story-card .card-desc{
	font-size: 14px;
	padding: 0 10px;
	margin-bottom: 5px;
	display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.story-card .card-image{
	display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #505dff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  width:100%;
}
.story-card .card-desc.no-icon:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
	z-index: 1;
  pointer-events: none;
  background-image: linear-gradient(to bottom,
                    rgba(255,255,255, 0),
                    rgba(255,255,255, 1) 90%);
  width: 100%;
  height: 3em;
}
.story-card .card-icons-holder{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px 10px;
	height: 36px;
	/* -webkit-box-shadow: 0px -1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px -1px 1px rgba(0,0,0,0.2);
  box-shadow: 0px -1px 1px rgba(0,0,0,0.2); */
	background-color: #f0f2f4;
	overflow: hidden;
}
